.about {
    display: flex;
    flex-wrap: wrap;
    padding: 80px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;

    .aboutDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    padding-right: 40px;

        h2 {
        color: $orange;
        }

        p {
        color: $grey;
        }

        .socialIcons {
            display: flex;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 10px;

            ul {
                display: flex;
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    margin-right: 10px;

                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background-color: $grey;

                        i {
                            color: white;
                        }
                    }
                }
            }

            a {
                font-size: 1rem;
                margin-right: 10px;
                color: $grey;
            }
        }

        a.button {
            text-align: center;
            background-color: $green;
            color: $grey;
            padding: 16px 40px;
            border-radius: 15px;
            font-size: 0.9rem;
            margin-top: 20px;

            &:hover,
            &:focus {
                background-color: $orange;
                color: white;
            }
        }
    }

    .aboutImg {
        width: 40%;
        display: flex;
        justify-content: flex-end;

        img {
        width: 100%;
        border-radius: 15px;
        }
    } 
}