@import "./variables";

.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

.button {
    color: $green;
}

a {
    text-decoration: none;
}

body {
    background-color: $background;
}