footer {
    font-family: $bodyFont;
    margin-top: 20px;
    background-color: $blue;
    margin: 0 auto;
    
    a {
        color: white;
        font-style: italic;
        &:hover,
        &:focus {
                color: $green;
            }
    }
}

.footerNav {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}