/* Media query for screens smaller than 600px wide */
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
    .headerDiv {
        display: block;
    }
    .headerDiv img {
        margin-bottom: 20px;
    }
    .button {
        font-size: 0.8rem;
        padding: 8px 16px;
    }
    .aboutDiv,
    .aboutImg {
        width: 100%;
        margin-bottom: 20px;
    }
    .aboutImg img {
        max-width: 100%;
        height: auto;
    }

    .about {
        padding: 40px;
        
        .aboutDiv {
            width: 100%;
            padding-right: 0;
            margin-bottom: 30px;

            .socialIcons {
                margin-top: 20px;
                margin-bottom: 20px;
            }

            a.button {
                margin-top: 30px;
            }
        }

        .aboutImg {
            width: 100%;
            justify-content: center;
            margin-bottom: 30px;
        }
    }

    .skillsContainer {
        display: flex;
        flex-wrap: wrap;
    }
    .skills li {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .projects {
        h2 {
            margin-top: 80px;
        }

        ul.projects {
            flex-direction: column;
            align-items: center;

            li.projectOne, li.projectTwo, li.projectThree {
                width: 100%;
                margin-bottom: 60px;

                img {
                    max-width: 100%;
                }

                ul.projectButtons {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;

                    li {
                        margin: 0 10px;

                        a.button {
                            padding: 12px 20px;
                            font-size: 0.7rem;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
    .form {
        margin-top: 20px;
    }
    .formContainer {
        margin: 0 auto;
        max-width: 80%;
    }
    .form input,
    .form textarea {
        width: 100%;
        margin-bottom: 20px;
    }
    .form button[type="submit"] {
        width: 100%;
    }
}

/* Media query for screens between 600px and 1200px wide */
@media (min-width: 601px) and (max-width: 1200px) {
    body {
        font-size: 14px;
    }
    .aboutDiv,
    .aboutImg {
        width: 80%;
        margin-bottom: 20px;
    }
    .aboutImg img {
        max-width: 80%;
        height: auto;
    }

    .about {
        padding: 40px;
        
        .aboutDiv {
            width: 100%;
            padding-right: 0;
            margin-bottom: 30px;

            .socialIcons {
                margin-top: 20px;
                margin-bottom: 20px;
            }

            a.button {
                margin-top: 30px;
            }
        }

        .aboutImg {
            width: 80%;
            justify-content: center;
            margin-bottom: 30px;
        }
    }
    .socialIcons ul {
        display: flex;
        justify-content: flex-start;
    }
    .socialIcons li {
        margin-right: 10px;
    }
    .projects {
        ul.projects {
            justify-content: center;

            li.projectOne, li.projectTwo, li.projectThree {
                width: 100%;
                margin-bottom: 60px;

                img {
                    max-width: 80%;
                }

                ul.projectButtons {
                    display: flex;
                    justify-content: center;

                    li {
                        margin: 0 20px;

                        a.button {
                            padding: 12px 30px;
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
    .formContainer {
        max-width: 60%;
    }
}