@import "./variables";

@font-face {
    font-family: "Gotu";
    src: url(../assets/fonts/Gotu/Gotu-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(../assets/fonts/Poppins/Poppins-Medium.ttf);
    font-weight: normal;
}

html {
    font-size: 125%;
}

body {
    font-family: $bodyFont;
    font-size: 1rem;
    line-height: 32px;
    letter-spacing: 0px;
    color: $blue;
}

h1, h2, h3, h4 {
    font-family: $headingFont;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.1rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.2rem;
}

ul, li, a, input {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}