@import "./variables";

@font-face {
    font-family: "Gotu";
    src: url(../../../fonts/Gotu/Gotu-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(../../../fonts/Poppins/Poppins-Black.ttf);
    font-weight: normal;
}

html {
    font-size: 125%;
}

body {
    font-family: $bodyFont;
    font-size: 1rem;
    line-height: 32px;
    letter-spacing: 0px;
}

h1, h2, h3, h4 {
    font-family: $headingFont;
}