html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

.button {
  color: #CADD88;
}

a {
  text-decoration: none;
}

body {
  background-color: #F7F9F3;
}

@font-face {
  font-family: "Gotu";
  src: url(../assets/fonts/Gotu/Gotu-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins/Poppins-Medium.ttf);
  font-weight: normal;
}
html {
  font-size: 125%;
}

body {
  font-family: "Poppins";
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 0px;
  color: #2181E8;
}

h1, h2, h3, h4 {
  font-family: "Gotu";
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.1rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

ul, li, a, input {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

.mainNav {
  font-family: "Poppins";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 20px;
}
.mainNav a {
  color: #33342D;
  font-style: italic;
}

header {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
}
header img {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 30px;
}
header p {
  font-size: 0.9rem;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  color: #33342D;
  line-height: 25px;
  margin-bottom: 20px;
}
header a.button {
  display: inline-block;
  text-align: center;
  background-color: #CADD88;
  color: #33342D;
  padding: 16px 40px;
  border-radius: 15px;
  font-size: 0.9rem;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 80px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
}
.about .aboutDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 60%;
  padding-right: 40px;
}
.about .aboutDiv h2 {
  color: #CB4810;
}
.about .aboutDiv p {
  color: #33342D;
}
.about .aboutDiv .socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.about .aboutDiv .socialIcons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.about .aboutDiv .socialIcons ul li {
  margin-right: 10px;
}
.about .aboutDiv .socialIcons ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #33342D;
}
.about .aboutDiv .socialIcons ul li a i {
  color: white;
}
.about .aboutDiv .socialIcons a {
  font-size: 1rem;
  margin-right: 10px;
  color: #33342D;
}
.about .aboutDiv a.button {
  text-align: center;
  background-color: #CADD88;
  color: #33342D;
  padding: 16px 40px;
  border-radius: 15px;
  font-size: 0.9rem;
  margin-top: 20px;
}
.about .aboutImg {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.about .aboutImg img {
  width: 100%;
  border-radius: 15px;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #2181E8;
  color: white;
  margin: 0 auto;
}
.skills h2 {
  margin: 0 auto;
  color: #CADD88;
  font-size: 2.5rem;
  padding-top: 70px;
}
.skills .skillsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 40px;
  margin: 40px;
  width: 100%;
}
.skills .skillsContainer .skills {
  width: calc(25% - 20px);
  text-align: center;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.skills .skillsContainer .skills i {
  font-size: 4rem;
  margin-bottom: 10px;
  color: white;
}
.skills .skillsContainer .skills p {
  font-size: 1rem;
  color: #CADD88;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
}

.projects h2 {
  text-align: center;
  margin-top: 140px;
}
.projects ul.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.projects li.projectOne, .projects li.projectTwo, .projects li.projectThree {
  width: calc(33.33% - 20px);
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects li.projectOne img, .projects li.projectTwo img, .projects li.projectThree img {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  border-radius: 15px;
}
.projects li.projectOne ul.projectButtons, .projects li.projectTwo ul.projectButtons, .projects li.projectThree ul.projectButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.projects li.projectOne ul.projectButtons li, .projects li.projectTwo ul.projectButtons li, .projects li.projectThree ul.projectButtons li {
  margin: 0 10px;
}
.projects li.projectOne ul.projectButtons li a.button, .projects li.projectTwo ul.projectButtons li a.button, .projects li.projectThree ul.projectButtons li a.button {
  display: block;
  text-align: center;
  background-color: #CADD88;
  color: #33342D;
  padding: 16px 40px;
  border-radius: 15px;
  font-size: 0.9rem;
  text-decoration: none;
  margin-top: 15px;
}

footer {
  font-family: "Poppins";
  margin-top: 20px;
  background-color: #2181E8;
  margin: 0 auto;
}
footer a {
  color: white;
  font-style: italic;
}

.footerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px;
}

.form h3 {
  color: #CB4810;
  font-size: 2rem;
}
.form .contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form .contactForm input {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #CADD88;
  opacity: 0.8;
  border: 5px solid #CADD88;
  color: #33342D;
  font-family: "Poppins";
  font-style: italic;
}
.form .contactForm textarea {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #CADD88;
  opacity: 0.8;
  border: 5px solid #CADD88;
  color: #33342D;
  font-family: "Poppins";
  font-style: italic;
  height: 100px;
}
.form .contactForm button {
  border-radius: 10px;
  padding: 10px;
  background-color: #CADD88;
  border: 0px solid #CADD88;
  color: #33342D;
  font-family: "Poppins";
  font-style: italic;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  width: 100%;
  margin-bottom: 100px;
}
.contact img {
  border-radius: 30px;
  max-width: 25%;
}
.contact h4 {
  color: #CB4810;
  margin-top: 20px;
  margin-bottom: 0px;
}
.contact .socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.contact .socialIcons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.contact .socialIcons ul li {
  margin-right: 10px;
}
.contact .socialIcons ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #33342D;
}
.contact .socialIcons ul li a i {
  color: white;
}
.contact .socialIcons a {
  font-size: 1rem;
  margin-right: 10px;
  color: #33342D;
}

/* Media query for screens smaller than 600px wide */
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
  .headerDiv {
    display: block;
  }
  .headerDiv img {
    margin-bottom: 20px;
  }
  .button {
    font-size: 0.8rem;
    padding: 8px 16px;
  }
  .aboutDiv,
  .aboutImg {
    width: 100%;
    margin-bottom: 20px;
  }
  .aboutImg img {
    max-width: 100%;
    height: auto;
  }
  .about {
    padding: 40px;
  }
  .about .aboutDiv {
    width: 100%;
    padding-right: 0;
    margin-bottom: 30px;
  }
  .about .aboutDiv .socialIcons {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .about .aboutDiv a.button {
    margin-top: 30px;
  }
  .about .aboutImg {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .skillsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .skills li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .projects h2 {
    margin-top: 80px;
  }
  .projects ul.projects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects ul.projects li.projectOne, .projects ul.projects li.projectTwo, .projects ul.projects li.projectThree {
    width: 100%;
    margin-bottom: 60px;
  }
  .projects ul.projects li.projectOne img, .projects ul.projects li.projectTwo img, .projects ul.projects li.projectThree img {
    max-width: 100%;
  }
  .projects ul.projects li.projectOne ul.projectButtons, .projects ul.projects li.projectTwo ul.projectButtons, .projects ul.projects li.projectThree ul.projectButtons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects ul.projects li.projectOne ul.projectButtons li, .projects ul.projects li.projectTwo ul.projectButtons li, .projects ul.projects li.projectThree ul.projectButtons li {
    margin: 0 10px;
  }
  .projects ul.projects li.projectOne ul.projectButtons li a.button, .projects ul.projects li.projectTwo ul.projectButtons li a.button, .projects ul.projects li.projectThree ul.projectButtons li a.button {
    padding: 12px 20px;
    font-size: 0.7rem;
    margin-top: 10px;
  }
  .form {
    margin-top: 20px;
  }
  .formContainer {
    margin: 0 auto;
    max-width: 80%;
  }
  .form input,
  .form textarea {
    width: 100%;
    margin-bottom: 20px;
  }
  .form button[type=submit] {
    width: 100%;
  }
}
/* Media query for screens between 600px and 1200px wide */
@media (min-width: 601px) and (max-width: 1200px) {
  body {
    font-size: 16px;
  }
  .aboutDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .aboutDiv h2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .aboutDiv p {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .aboutDiv .socialIcons {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .socialIcons ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .socialIcons li {
    margin-right: 10px;
  }
  .projects ul.projects {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects ul.projects li.projectOne, .projects ul.projects li.projectTwo, .projects ul.projects li.projectThree {
    width: 100%;
    margin-bottom: 60px;
  }
  .projects ul.projects li.projectOne img, .projects ul.projects li.projectTwo img, .projects ul.projects li.projectThree img {
    max-width: 100%;
  }
  .projects ul.projects li.projectOne ul.projectButtons, .projects ul.projects li.projectTwo ul.projectButtons, .projects ul.projects li.projectThree ul.projectButtons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects ul.projects li.projectOne ul.projectButtons li, .projects ul.projects li.projectTwo ul.projectButtons li, .projects ul.projects li.projectThree ul.projectButtons li {
    margin: 0 20px;
  }
  .projects ul.projects li.projectOne ul.projectButtons li a.button, .projects ul.projects li.projectTwo ul.projectButtons li a.button, .projects ul.projects li.projectThree ul.projectButtons li a.button {
    padding: 12px 30px;
    font-size: 0.8rem;
  }
  .formContainer {
    max-width: 60%;
  }
}